@import "utils/variables.scss";
@import "components/header.scss";
@import "components/controls.scss";
@import "components/menu.scss";

* {
    font-family: 'Roboto', sans-serif;
}

html, body, .app {
    width: 100%;
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, h7 {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    background-color: #222;
    color: #fff;
}

.contents {
    display: flex;
    flex-grow: 1;
}

.dashboard {
    padding: 10px;
}

.bar {
    padding: 10px;
    background-color: #333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-color: #E67E22;
}

ng-md-icon {
    fill: #fff;
    cursor: pointer;
    transition: transform 200ms, color 200ms;
}

ng-md-icon:hover {
    transform: scale(1.2);
    color: cyan;
}


input[type='text'],
input[type='search'] {
    font-family: 'Roboto', sans-serif;
    outline: 0;
    background: #222;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.5);
    width: 200px;
    -webkit-transition: width 200ms, box-shadow 100ms;
}

input[type='text']:focus,
input[type='search']:focus {
    width: 450px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}

input[type='range'] {
    -webkit-appearance: none;
    outline: none;
    background: #444;
    height: 10px;
    border-radius: 10px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: transform 200ms, border-radius 200ms;
    cursor: pointer;
    background: cyan;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

input[type='range']:hover::-webkit-slider-thumb {
    transform: scale(2);
}